.NotFound-img {
  background-image: url('../../images/4044.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius:  20px;
  font-weight: 600;
  border: 1px rgba(white, 0.5);
}

.button:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 1024px) {
  .NotFound-img {
    background-color: #66999;
    background-repeat: no-repeat;
    background-position: center center cover no-repeat fixed;
    background-size: cover;
  }
}
